PORT=3000
ENV_MODE=dev
ACCESS_TOKEN_SECRET=tu_secreto_de_acceso_aqui
REFRESH_TOKEN_SECRET=tu_secreto_de_refresco_aqui
EMAIL_TOKEN_SECRET=tu_secreto_de_email_aqui
DATABASE_URL=postgresql://usuario:clave@aws-0-us-east-1.pooler.supabase.com:6543/postgres